.calculate{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.save{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.calc-results{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}
.newloans{
    width: 95%;
    margin:10px auto;
    text-align: center;

}
.conditional{
    width: 95%;
    margin: 5px auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
select {
    border: none;
    background: rgb(112, 225, 248);
    padding: 5px;
    margin: auto 5px;
}