Body {
    background: #F3FBFD;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px;
}
.Login {
    margin: 2% 40%;
    border: 2px solid #64CBE0;
    justify-content: center;
    padding: 10px;

}
.Login h1 {
    margin: 15% 43% 0% 43%;
}
.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
   
}
button{
    border: none;
    border-radius: 1px;
    padding: 5px 10px;
    background: #64CBE0;
    margin: 0px 5px;
    font-size: 16px;
}